{% extends 'base/home.html' %}


{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'perfil_crear' %}">Registrar Usuario</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar' %}">Usuarios Activos</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar_all' %}">Acciones</a></li>
{% endblock %}


{% block content %}




<form method="post">
  {% csrf_token %}
  
  {% for hidden in form.hidden_fields %}

      {{hidden}}

  {% endfor %}

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6" style="margin: 0 auto;">
          <div class="card-footer clearfix">
            <a class="btn btn-primary" style="background-color:#00588e " href="{% url 'equipo_crear' %}"><b>Crear Equipo</b> </a>
            <br>
            <p></p>
            <!-- general form elements -->
            <div class="card card-primary" >
              <div class="card-header" style="background-color:#00588e  ">
                <h3 class="card-title" style="text-align: center;" ><b>Asignacion de RED a unidad</b>    </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                  

                  <div class="text_center">

                    <small class="text-danger">
                      {% if form.errors %}
                        {% for field in form %}
                        {% if field.errors %}
                          {% for error in field.errors %}
                                {{ error|escape }}
                          {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                               {{ error|escape }}
                        {% endfor %}
                        {% endif %}

                      {% endif %}
                            

                    </small>

                  </div>
            
                 
                  <div class="form-group">
                    <label for="{{ form.area.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.area.label}}</label>
                          <br>
                        
                          <div class="col-sm-8">
                            {{form.area}}

                    </div>
                  </div>

                  
                  
              


                  <div class="form-group">
                    <label for="{{ form.red.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.red.label}}</label>
                    <br>
                    <div class="col-sm-8">
                     
                      
                            {{ form.red}}

                    </div>
                  </div>

                 
                  <div class="col-sm-10" style="visibility: hidden">
                    {{form.esta_vigente}}

                   </div>
               
             

         
                  
                  
                </div>
                <!-- /.card-body -->
  
              <div class="card-footer">
                <button type="submit" class="btn btn-primary" style="background-color:#00588e "><b>Enviar</b> </button>
              </div>
            </form>
          </div>
  
  </div>
  </div>
  </div>
  </div>
  </section>

  


</form>

{% endblock %}
{% block selec2 %}


<script type="text/javascript">
    $(document).ready(function() {
              $('#equipos').select2({
                theme: "bootstrap4",
                
              });

    });
</script>
{% endblock %}