{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block extrahead %}
    {% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Document {% endblock %}</title>

  


    <link rel="stylesheet" href="{% static 'lib/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
  <script src="{% static 'lib/bootstrap-4.4.1-dist/js/jquery-3.4.1.slim.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap-4.4.1-dist/js/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  {% block head %}



  {% endblock %}

</head>
<body>
    {% block header %}
     {%include 'base/header.html' %}

     





    {% endblock %}

    {% block content %}
     <h4>Este es el bloque del contenedor base </h4>
    {% endblock %}

    {% block footer %}
     <h4>Este es el bloque del footer  base </h4>
    {% endblock %}

    {% block extrajs %}
    {% endblock %}

    {% block navbar %}
    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <div class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a href="navbar-brand" href="#">HOME</a>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Principal
                                           <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Registrar</a></li>
                                            <li><a href="#">Listar</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Apliacion
                                           <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Solicitar</a></li>
                                            <li><a href="#">Listar Solicitudes</a></li>
                                        </ul>
                                    </li>

                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown"><a href="http://codigofacilito.vom" 
                                        onclick="pageTracker._link(this.href);return false ">
                                        Codigo Facilito</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">opciones
                                        <span class="caret"></span></a>
                                        <ul class="dropdown-menu"role="menu">
                                            <li><a href="#">Salir</a></li>
                                        </ul>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<div class="container">
    <h1>My First Bootstrap Page</h1>
    <p>This part is inside a .container class.</p> 
    <p>The .container class provides a responsive fixed width container.</p>           
  </div>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-secondary">Secondary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-dark">Dark</button>
  
  <button type="button" class="btn btn-link">Link</button>

  
</body>
</html>


