{% load staticfiles %}
  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->



           <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-desktop"></i>
              <p>
                Infraestructuras
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'infraestructura_crear' %}" class="nav-link">
                  <i class="fas fa-laptop-medical nav-icon"></i>
                  <p>Agregar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'infraestructura_listar' %}" class="nav-link">
                  <i class="fas fa-laptop-code nav-icon"></i>
                  <p>Infraestructuras Activos</p>
                </a>
              </li>
          
    
            </ul>
          </li>
           

      <!-- <li class="nav-item  menu-open">-->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Secretaria
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'secretaria_crear_dos' %}" class="nav-link">
                <i class="fa fa-user-plus nav-icon"></i>
                <p>Registrar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'secretaria_listar' %}" class="nav-link">
                <i class="fas fa-users nav-icon"></i>
                <p>Secretarias Activos</p>
              </a>
            </li>
       
          </ul>
        </li>

              <!-- <li class="nav-item  menu-open">-->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-user"></i>
            <p>
              Secretaria verdad
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'secretariav_crear_dos' %}" class="nav-link">
                <i class="fa fa-user-plus nav-icon"></i>
                <p>Registrar</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'secretariav_listar' %}" class="nav-link">
                <i class="fas fa-users nav-icon"></i>
                <p>Secretarias Activos</p>
              </a>
            </li>
       
          </ul>
        </li>







      <!-- <li class="nav-item  menu-open">-->
           <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                Usuarios
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'perfil_crear' %}" class="nav-link">
                  <i class="fa fa-user-plus nav-icon"></i>
                  <p>Registrar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'perfil_listar' %}" class="nav-link">
                  <i class="fas fa-users nav-icon"></i>
                  <p>Usuarios Activos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'perfil_listar_all' %}" class="nav-link">
                  <i class="fas fa-users-cog nav-icon"></i>
                  <p>Acciones</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-desktop"></i>
              <p>
                Equipos
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'equipo_crear' %}" class="nav-link">
                  <i class="fas fa-laptop-medical nav-icon"></i>
                  <p>Agregar</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'equipo_listar' %}" class="nav-link">
                  <i class="fas fa-laptop-code nav-icon"></i>
                  <p>Equipos Activos</p>
                </a>
              </li>
          
    
            </ul>
          </li>

      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-network-wired"></i>
          <p>
            Red
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>

        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'red_creardos' %}" class="nav-link">
              <i class="fas fa-project-diagram nav-icon"></i>
              <p> Nueva Red</p>
            </a>
          </li>
     
        </ul>

        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'red_listar' %}" class="nav-link">
              <i class=" fas fa-chalkboard-teacher nav-icon"></i>
              <p>Redes Activos</p>
            </a>
          </li>
     
        </ul>




      </li>



      <li class="nav-item">
        <a href="#" class="nav-link active">
          <i class="nav-icon fas fa-copy"></i>
          <p>
            Direcciones
            <i class="fas fa-angle-left right"></i>
            <span class="badge badge-info right"></span>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a  href="{% url 'direccion_crear' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Insertar</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'direccion_listar' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Ver</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'direccion_listar' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Lista detalles</p>
            </a>
          </li>
         
         
        

        </ul>
      </li>



      


      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-chalkboard-teacher"></i>
          <p>
            Usuario-Equipo
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'relacionPerfil_listar' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Ver</p>
            </a>
          </li>
     
        </ul>
      </li>

      
      <li class="nav-item">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-laptop-code"></i>
          <p>
            Equipo-IP
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
  


        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="{% url 'relacion_listar' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Ver</p>
            </a>
          </li>
     
        </ul>

      </li>
      


      <li class="nav-item">
        <a href="#" class="nav-link">
         
          <p></p>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->