{% extends 'base/home.html' %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'equipo_crear' %}">Registrar Equipo</a></li>
<li class="breadcrumb-item"><a href="{% url 'equipo_listar' %}">Equipos Activos</a></li>
{% endblock %}

{% block content %}

<form method="post">
  {% csrf_token %}
  
  {% for hidden in form.hidden_fields %}

      {{hidden}}

  {% endfor %}

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6" style="margin: 0 auto;">
          <div class="card-footer clearfix">
            <!-- general form elements -->
            <div class="card card-primary" >
              <div class="card-header" style="background-color:#00588e">
                <h3 class="card-title"><b>Agregar Equipos</b>  </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                  
                  <div class="text_center">
                   
                    <small class="text-danger">
                      {% if form.errors %}
                        {% for field in form %}
                        {% if field.errors %}
                          {% for error in field.errors %}
                                {{ error|escape }}
                          {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                               {{ error|escape }}
                        {% endfor %}
                        {% endif %}

                      {% endif %}
                            

                    </small>

                  </div>

                 
                  <div class="form-group">
                    <label for="{{ form.nombre_host.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.nombre_host.label}}</label>
                          <br>
                        
                          <div class="col-sm-12">
                            {{form.nombre_host}}

                    </div>
                  </div>

                  <div class="form-group">
                    <label for="{{ form.sistema_operativo.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.sistema_operativo.label}}</label>
                    <br>
                    
                    <div class="col-sm-12">
              
                      {{form.sistema_operativo}}

                    </div>
                  </div>
                
                  <div class="form-group">
                    <label for="{{ form.mac.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.mac.label}}</label>
                    <div class="col-sm-12">
                            {{form.mac}}

                    </div>
                  </div>

                  <div class="form-group">
                    <label for="{{ form.mac1.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.mac1.label}}</label>
                    <div class="col-sm-12">
                            {{form.mac1}}

                    </div>
                  </div>

                  
                  
                </div>
                <!-- /.card-body -->
  
              <div class="card-footer">
                <button type="submit" class="btn btn-primary" style="background-color:#00588e"> <b>Enviar</b> </button>
              </div>
            </form>
          </div>
  
  </div>
  </div>
  </div>
  </div>
  </section>


</form>


{% endblock %}


{% block selec2 %}


<script type="text/javascript">
    $(document).ready(function() {
              $('#sistema_operativo').select2({
                theme: "bootstrap4",
                
              });

    });
</script>
{% endblock %}