{% extends 'base/home.html' %}

{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#equipo-list').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
            });
        } );
</script>
{%  endblock %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'equipo_crear' %}">Registrar Equipo</a></li>
<li class="breadcrumb-item"><a href="{% url 'equipo_listar' %}">Equipos Activos</a></li>
{% endblock %}

{% block content %}


<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-8" style="margin: 0 auto;">
            <div class="card-footer clearfix" >
            <a class="btn btn-primary" href="{% url 'equipo_crear' %}" style="background-color:#00588e"> <b>Agregar Equipo</b> </a>
            <br><p></p>
            <!-- general form elements -->
            <div class="card card-primary"  >
              <div class="card-header" style="background-color:#00588e">
                <h3 class="card-title"> <b>Lista de Direcciones IP Registradas</b> </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">


                    <table class="table table-bordered table-striped" id="equipo-list">
                        <thead>
                            <tr>
                                <td><b>#</b> </td>
                                <td><b>Nombre de Equipo</b></td>
                                <td><b>Sistema Operativo</b></td>
                                <td><b>Mac</b></td>
                                <td><b>Mac1</b></td>
                                <td><b>Fecha de Registro</b></td>
                                <td><b>Acciones</b></td>
                            
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if object_list %}
                            {% for equipo in object_list %}
                            <tr>
                                <td>{{equipo.id}}</td>
                                <td>{{equipo.nombre_host}}</td>
                                <td>{{equipo.sistema_operativo}}</td>
                                <td>{{equipo.mac}}</td>
                                <td>{{equipo.mac1}}</td>
                                <td>{{equipo.fecha}}</td>
                                
                              
                                <td >
                                    <a class="btn btn-primary btn-sm" href="{% url 'equipo_edit' equipo.id %}"><i class="fa fa-edit "> </i> Editar</a>
                                    <a class="btn btn-primary btn-danger btn-sm" href="{% url 'equipo_delete' equipo.id %}"><i class="fas fa-trash-alt"> </i> Eliminar</a>
                                </td>
                            
                            </tr>
                            {% endfor %}
                            {% else %}
                               

                            {% endif %}            

                        </tbody>

                    </table>

  
                </div>
                <!-- /.card-body -->

       
    </form>
    <div class="card-footer clearfix">
       

        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
          </ul>
      </div>
</div>
</div>
</div>
</div>
</div>

</section>


{% endblock %}