
{% block content %}

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Agregar unidad</h2>
      <button class="close" type="button" aria-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">$times;</span>

      </button>

    </div>
          
              <!-- left column -->
            
                <div class="card-footer clearfix">
                  <!-- general form elements -->
                  <div class="card card-primary" >
                    <div class="card-header" style="background-color:#00588e">
                      <h2 class="card-title"> <b>Agregar unidad</b>  </h2>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="{% url 'unidad_crear' %}" method="post">

                      {% csrf_token %}
        
                      {% for hidden in form.hidden_fields %}
                    
                          {{hidden}}
                    
                      {% endfor %}


                      <div class="text_center">
                        
                        <small class="text-danger">
                          {% if form.errors %}
                            {% for field in form %}
                            {% if field.errors %}
                              {% for error in field.errors %}
                                    {{ error|escape }}
                              {% endfor %}
                            {% endif %}
                            {% endfor %}
                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                   {{ error|escape }}
                            {% endfor %}
                            {% endif %}
    
                          {% endif %}
                                
    
                        </small>
    
                      </div> 

                      <div class="modal-body">
                      
                 
                        
      
                       
      
                        <br>
      
                        <div class="form-group">
                          <label for="{{ form.nombre.id_for_label }}"
                                  class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.nombre.label}}</label>
                                <br>
                              
                                <div class="col-sm-12 input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <input type="radio"> <h6> </h6> 
                                    </span>
                                    
                                  </div>
                                  
                                  {{form.nombre}}
      
                          </div>
                        </div>
      
                        <div class="form-group">
                          <label for="{{ form.direccion.id_for_label }}"
                                  class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.direccion.label}}</label>
                          
                            <div class="col-sm-12 input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <input type="radio"> <h6> </h6> 
                                </span>
                                
                              </div>
                              
                                  {{form.direccion}}
                          </div>
                        </div>
      
                        <div class="form-group">
                          <label for="{{ form.detalle.id_for_label }}"
                                  class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.detalle.label}}</label>
                          <br>
                          <div class="col-sm-12 input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <input type="radio"> <h6> </h6> 
                              </span>
                              
                            </div>
                                  {{form.detalle}}
      
                          </div>
                        </div>
      
    

                    <div class="modal-footer">
    
     
                      <button type="submit" class="btn btn-primary" style="background-color:#00588e">Enviar</button>
                 
                    </div>


                    
                  </form>
                </div>
        

  </div>

</div>



{% endblock %}


