{% extends 'base/home.html' %}

{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#perfil-list-all').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
                
            });
        } );
</script>
{%  endblock %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'perfil_crear' %}">Registrar Usuario</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar' %}">Usuarios Activos</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar_all' %}">Acciones</a></li>
{% endblock %}

{% block content %}


<section class="content">

    <div class="container-fluid ">
        
      <div class="row">
          
        <!-- left column -->
        <div class="col-md-9" style="margin: 0 auto; ">
            <div class="card-danger clearfix">
            <a class="btn btn-primary" style="background-color:#00588e "  href="{% url 'perfil_crear' %}"> <b> Registrar Usuario</b> </a>
            <br><p></p>
          
            <!-- general form elements -->
            <div class="card card-danger" >
                
              <div class="card-header "style="background-color:#00588e " >
                <h3 class="card-title"> <b> Lista de Usuarios  Registrados</b></h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="perfil-list-all">
                        <thead>
                            <tr style="text-align: center;">
                            
                                

                                    <td><b>#</b></td>
                                    <td> <b>Nombre </b> </td>
                                    <td><b>Apellido</b></td>
                                    <td><b>CI</b></td>
                                    <td><b>Correo Electronico</b></td>
                                    <td><b>Acciones</b></td>

                                
                                
                    
                                
                            </tr>
                        </thead>
                        <tbody>

                            {% if object_list %}
                            {% for perfil in object_list %}
                         
                            
                            <tr>
                                <td>{{forloop.counter }}</td>
                                <td>{{ perfil.apellido }}</td>
                                <td>{{ perfil.nombre }}</td>
                                <td>{{ perfil.correo }}</td>
                                <td>{{ perfil.ci }}</td>
                                <td>
                                    <a class="btn btn-primary  btn-sm" href="{% url 'perfil_edit' perfil.id  %}"> <i class="fa fa-edit "> </i></a>
                                    <a class="btn btn-primary btn-danger btn-sm" href="{% url 'perfil_delete' perfil.id  %}"> <i class="fas fa-trash-alt"> </i></a>
                                </td>
                             


                            
                            </tr>
                            {% endfor %}
                            {% else %}
                             

                            {% endif %}            

                        </tbody>

                    </table>

  
                </div>
                <!-- /.card-body -->

       
    </form>

    <!-- /.card-body -->
    <div class="card-footer clearfix">
       

        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
          </ul>
      </div>
</div>
</div>
</div>
</div>
</div>


</section>


{% endblock %}