{% extends 'base/home.html' %}
{% load staticfiles %}


{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#perfil-user-detail').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
            });
        } );
</script>
{%  endblock %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'perfil_crear' %}">Registrar Usuario</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar' %}">Usuarios Activos</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar_all' %}">Acciones</a></li>
{% endblock %}


{% block content %}

{% csrf_token %}
<section class="content">

    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-8" style="margin: 0 auto;">
            <div class="card-footer clearfix">
            <!-- general form elements -->
            <div class="card card-primary" >
              <div class="card-header"  style="background-color:#00588e ">
                <h3 class="card-title"><b>Lista de Equipos del Usuario {{ object}}</b> </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>

                <div class="card-body">
                    <table class="table table-bordered table-striped" id="perfil-user-detail">
                        <thead>
                            <tr>
                                <td><b>#</b> </td>
                                <td><b>Usuario</b></td>
                                <td><b>Equipo</b></td>
                                <td><b>Fecha Inicio</b></td>
                                <td><b>Acciones</b></td>
                                <td><b>Asignar IP</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            <h1>  </h1>
                            {% if equipo_list %}

                            {% for item in equipo_list%}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.perfil}}</td>
                                <td>{{ item.equipos }}</td>
                                <td>{{ item.FechaInicio }}</td>
                               
                                <td>
                                    <a class="btn btn-primary btn-sm" href="{% url 'relacionPerfil_edit' item.id %}"><i class="fa fa-edit "> </i></a>
                                    <a class="btn btn-primary btn-danger btn-sm" href="{% url 'relacionPerfil_delete' item.id %}"><i class="fas fa-trash-alt"> </i></a>
                            
                                </td>
                                <td>
                                     <a class="btn btn-primary btn-success btn-sm" href="{% url 'equipo_ip_relacion_crear' item.equipos.id %}"><i class="fa fa-plus-square"> Agregar </i></a>
                            
                                </td>
                            
                            </tr>
                            {% endfor %}
                            {% else %}
                              
                            {% endif %}            
                        </tbody>
                    </table>

  
                </div>
                <!-- /.card-body -->

       
    </form>
    <div class="card-footer clearfix">
       

        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
          </ul>
      </div>
</div>
</div>
</div>
</div>
</div>


</section>


{% endblock %}