{% block content %}


              <form>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td><b>#</b> </td>
                                <td><b>nombre</b></td>
                                <td><b>sigla</b></td>
                                <td><b>tipo</b></td>
                              
                    
                                
                            </tr>
                        </thead>
                        <tbody>

                            {% if areas_list %}
                            {% for item in areas_list %}
                         
                            
                            <tr>
                                <td>{{forloop.counter }}</td>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.sigla }}</td>
                                
                                <td>{{ item.tipo }}</td>
                        
                            </tr>
                            {% endfor %}
                   
 
                            {% endif %}            

                        </tbody>

                    </table>

  
                </div>
                <!-- /.card-body -->

       
    </form>


{% endblock %}
