

{% block content %}


<form method="post" action="{% url 'unidadv_delete_dos' object.id %}">
    {% csrf_token %}
  
    <section class="content">
      <div class="container-fluid" >
        <div class="row" >
          <!-- left column -->
          <div class="col-md-7" style="margin: 0 auto;"  >
            <div class="card-footer clearfix" >
              <!-- general form elements -->
              <div class="card card-primary"  >
                <div class="card-header" style="background-color:#00588e ">
                  <h3 class="card-title" ></h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form >
                  <div class="card-body">
                    
  
                 
                   
                    <h3> DESEA ELIMINAR EL REGISTRO DE:  </h3>
    
                    <h2> {{ object.nombre }}</h2>
  
                    
                
                  
                    
                  </div>
                  <!-- /.card-body -->
    
                <div class="card-footer">
                  <button class="btn btn-danger" type="submit">Si, Eliminar </button>
                  <a class="btn btn-primary" href="{% url 'direccion_listar' %}">Cancelar</a>
                </div>
              </form>
            </div>
    
    </div>
    </div>
    </div>
  </div>
    
    </section>
    
    
    
            
    
            
    
  
  </form>
  

{% endblock %}
