{% extends 'base/home.html' %}

{% block content %}

<form method="post">
  {% csrf_token %}
  
  {% for hidden in form.hidden_fields %}

      {{hidden}}

  {% endfor %}

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6" style="margin: 0 auto;">
  
          <div class="card-footer clearfix">
            <!-- general form elements -->
            <div class="card card-primary" >
              <div class="card-header">
                <h3 class="card-title">Asignacion de IP a Equipos  </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                  

                  <div class="text_center">
                    <h1 class="h4 text-gray-900 mb-4">Bienvenidos</h1>
                    <small class="text-danger">
                      {% if form.errors %}
                        {% for field in form %}
                        {% if field.errors %}
                          {% for error in field.errors %}
                                {{ error|escape }}
                          {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                               {{ error|escape }}
                        {% endfor %}
                        {% endif %}

                      {% endif %}
                            

                    </small>

                  </div>

                 
                  

                  <div class="form-group">
                    <label for="{{ form.direccion.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.direccion.label}}</label>
                    <br>
                    <div class="col-sm-12">
                            {{form.direccion}}

                    </div>
                  </div>
                
                  <div class="form-group">
                    <label for="{{ form.equipo.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.equipo.label}}</label>
                          <br>
                        
                          <div class="col-sm-12">
                            {{form.equipo}}

                    </div>
                  </div>
                  <div class="form-group">
                    <label for="{{ form.esta_vigente.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.esta_vigente.label}}</label>
                          <br>
                        
                          <div class="col-sm-12">
                            {{form.esta_vigente}}

                    </div>
                  </div>


                  
                  
                </div>
                <!-- /.card-body -->
  
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
  
  </div>
  </div>
  </div>
  </div>
  </section>

  <a class="btn btn-primary" href="{% url 'equipo_crear' %}">Crear Equipo</a>
  <a class="btn btn-primary" href="{% url 'direccion_crear' %}">Crear Direccion</a>

</form>


{% endblock %}


