{% extends 'base/home.html' %}

{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#relacionPerfil').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
                
            });
        } );
</script>
{%  endblock %}


{% block contenturl %}

<li class="breadcrumb-item"><a href="{% url 'relacionPerfil_listar' %}">Ver Redes-Secretaria</a></li>
{% endblock %}



{% block content %}


<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-8" style="margin: 0 auto;">
            <div class="card-footer clearfix">
            <!-- general form elements -->
            <div class="card card-primary"  >
              <div class="card-header" style="background-color:#00588e">
                <h3 class="card-title"><b>Lista de Redes Asignados a un Secretaria</b> </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                    <table class="table table-bordered table-striped"  id="relacionPerfil">
                        <thead>
                            <tr>
                                <td><b>#</b> </td>
                                <td><b>secretaria</b></td>
                                <td><b>red</b></td>
                                <td><b>esta_vigente</b></td>
                               
                                <td><b>Acciones</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            {% if object_list %}
                            {% for relacion in object_list %}
                            <tr>
                                <td>{{forloop.counter }}</td>
                                <td>{{ relacion.secretaria}}</td>
                                <td>{{ relacion.red }}</td>
                                <td>{{ relacion.esta_vigente }}</td>
                           
                                <td>
                                    <a class="btn btn-primary btn-sm" href="{% url 'redSecretaria_edit' relacion.id %}"><i class="fa fa-edit "> </i> Editar</a>
                                    <a class="btn btn-primary btn-danger btn-sm" href="{% url 'redSecretaria_delete' relacion.id %}"><i class="fas fa-trash-alt"> </i> Eliminar</a>
                                </td>
                            
                            </tr>
                            {% endfor %}
                            {% else %}
                              
                            {% endif %}            
                        </tbody>
                    </table>

  
                </div>
                <!-- /.card-body -->

       
    </form>

    <div class="card-footer clearfix">
       

        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
          </ul>
      </div>

</div>
</div>
</div>
</div>
</div>

</section>


{% endblock %}