{% extends 'base/home.html' %}
{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#table-example').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
                
            });
        } );
</script>
{%  endblock %}




{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'red_crear' %}">Registrar Red</a></li>
<li class="breadcrumb-item"><a href="{% url 'red_listar' %}">Redes Activas</a></li>
{% endblock %}

{% block content %}







 





{% csrf_token %}
<section class="content">

    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-10" style="margin: 0 auto;">
            <div class="card-footer clearfix">
            <!-- general form elements -->
            <div class="card card-primary" >
              <div class="card-header" style="background-color:#00588e">
                <h3 class="card-title"> <b>Listado General de Red</b>  </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>

                <div class="card-body">
                    <table class="table table-bordered table-striped" id="table-example">
                        <thead>
                            <tr>
                                <td><b>#</b> </td>
                        
                                <td><b>Direcion Red</b></td>
                                <td><b>Puerta de Enlace</b></td>
                                <td><b>Mascara</b></td>
                                <td><b>Usuario</b></td>
                                <td><b>Equipo</b></td>
                                <td>Agregar</td> 
                            </tr>
                        </thead>
                        <tbody>
                            <h1>  </h1>
                            {% if red_list %}

                            

                            
                         
                            {% for item in red_list  %}
                            <tr>
                                
                                <td>{{forloop.counter }}</td>
                               
                     
                                <td>{{ item.ip}}</td>
                                <td>{{ item.puerta_enlace }}</td>
                                <td>{{ item.mascara }}</td>
                                <td>{{ item.get_equipo_vigente.get_perfil_vigente }}</td>
                                <td>{{ item.get_equipo_vigente }}</td>
                                
                                 <td>
                                    <a class="btn btn-primary btn-sm" href="{% url 'ip_relacion_crear' item.id %}" ><i class="fa fa-plus-square"> </i></a></td>
                                </td>
                            
                            </tr>
                           
                            {% endfor %}
                            {% else %}
                                <h1>no hay equipos registrados</h1>
                            {% endif %}            
                        </tbody>
                    </table>

  
                </div>
                <!-- /.card-body -->

       
    </form>

    <div class="card-footer clearfix">

        <ul class="pager pagination pagination-sm m-0 float-right">
            <li class="page-item">{% if page_obj.has_previous %}<a class="page-link" href="?page={{ page_obj.previous_page_number}}"><h6>Previus</h6> </a>{% endif %}</li>
            <li class="page-item">{% if page_obj.has_next %}<a class="page-link" href="?page={{ page_obj.next_page_number}}"><h6>Next</h6> </a>{% endif %}</li>
        </ul>
    </div>
</div>
</div>
</div>
</div>
</div>


</section>


{% endblock %}