{% extends 'base/home.html' %}


{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'red_crear' %}">Registrar Red</a></li>
<li class="breadcrumb-item"><a href="{% url 'red_listar' %}">Redes Activas</a></li>
{% endblock %}

{% block content %}





<form method="post">
  {% csrf_token %}
  
  {% for hidden in form.hidden_fields %}

      {{hidden}}

  {% endfor %}



  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-8" style="margin: 0 auto;">
          <div class="card-footer clearfix">
            <!-- general form elements -->
            <div class="card card-primary" >
              <div class="card-header" style="background-color:#00588e">
                <h2 class="card-title"> <b>Agregar Redes</b>  </h2>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                  

                  <div class="text_center">
                  
                    <small class="text-danger">
                      {% if form.errors %}
                        {% for field in form %}
                        {% if field.errors %}
                          {% for error in field.errors %}
                                {{ error|escape }}
                          {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                               {{ error|escape }}
                        {% endfor %}
                        {% endif %}

                      {% endif %}
                            

                    </small>

                  </div> 

                  <br>

                  <div class="form-group">
                    <label for="{{ form.numero.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.numero.label}}</label>
                          <br>
                        
                          <div class="col-sm-12 input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <input type="radio"> <h6> </h6> 
                              </span>
                              
                            </div>
                            
                            {{form.numero}}

                    </div>
                  </div>

                  <div class="form-group">
                    <label for="{{ form.puerta_enlace.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.puerta_enlace.label}}</label>
                    
                      <div class="col-sm-12 input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <input type="radio"> <h6> </h6> 
                          </span>
                          
                        </div>
                        
                            {{form.puerta_enlace}}
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="{{ form.nombre.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.nombre.label}}</label>
                    <br>
                    <div class="col-sm-12 input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <input type="radio"> <h6> </h6> 
                        </span>
                        
                      </div>
                            {{form.nombre}}

                    </div>
                  </div>

                  <div class="form-group">
                    <label for="{{ form.mascara.id_for_label }}"
                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.mascara.label}}</label>
                    <div class="col-sm-12 input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <input type="radio"> <h6> </h6> 
                        </span>
                        
                      </div>
                            {{form.mascara}}
                    </div>
                  </div>

                  <div><h6 class="mt-4 mb-2">Ingrese el Rango VLAN</h6></div>
                  <br>
                  <div class="row" style="margin: 0 auto; align-content: center; justify-content: center;">
                    <div class="col-lg-4">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <input type="radio"> <h6> </h6> Inicio 
                          </span>
                          
                        </div>
                        {{form.inicio}}
                      </div>
                      <!-- /input-group -->
                    </div>
                   

                    
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-4">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><input type="radio"> Fin </span>
                        </div>
                        {{form.fin}}
                      </div>
                      <!-- /input-group -->
                    </div>
                    <!-- /.col-lg-6 -->
                  </div>
               





                 <!-- <div class="form-group " style="margin: 0 auto; justify-content: center;">
                  <div style="margin: 0 auto; "><h6>Agrege en rango de VLAN</h6></div>
                  <br>
                  <div class="row " style="margin: 0 auto; align-content: center; justify-content: center;">

                    <div class="form-group">
                      <label for="{{ form.inicio.id_for_label }}"
                              class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.inicio.label}}</label>
                      <div class="col-sm-6 ">
                              {{form.inicio}}
                      </div>
                    </div>
  
                    <div class="form-group">
                      <label for="{{ form.fin.id_for_label }}"
                              class="col-xs-6 col-sm-6 col-md-6 control-label">{{form.fin.label}}</label>
                      <div class="col-sm-6">
                              {{form.fin}}
                      </div>
                    </div>
                    </div>
                 </div>
                    
                -->
             
                  
                </div>
                <!-- /.card-body -->
  
              <div class="card-footer">
                <button type="submit" class="btn btn-primary" style="background-color:#00588e">Enviar</button>
              </div>
            </form>
          </div>
  
  </div>
  </div>
  </div>
  </div>
  </section>


</form>



{% endblock %}


