{% extends 'base/home.html' %}

{% load staticfiles %}

{% block dataTable %}
<script>
        $(document).ready( function () {
            $('#perfil-detail-listar').DataTable({
                responsive: true,
                autoWidth: false,
                language:{
                    url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
                }
            });
        } );



        
</script>

<script>
  $(document).ready( function () {
      $('#area-detail-listar').DataTable({
          responsive: true,
          autoWidth: false,
          language:{
              url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
          }
      });
  } );
</script>

<script>
  $(document).ready( function () {
      $('#funci-detail-listar').DataTable({
          responsive: true,
          autoWidth: false,
          language:{
              url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
          }
      });
  } );
</script>

{%  endblock %}

{% block contenturl %}
<li class="breadcrumb-item"><a href="{% url 'perfil_crear' %}">Registrar Usuario</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar' %}">Usuarios Activos</a></li>
<li class="breadcrumb-item"><a href="{% url 'perfil_listar_all' %}">Acciones</a></li>
{% endblock %}

{% block content %}

<div class="col-md-13" >
  <!-- Widget: user widget style 1 -->
  <div class="card card-widget widget-user shadow-lg" >
    <!-- Add the bg color to the header using any of the bg-* classes     https://www.platinapartners.com/wp-content/uploads/2019/05/PortHead_Lighthouse01.jpg   -->
    <!-- Add the bg color to the header using any of the bg-* classes     https://www.argored.es/wp-content/uploads/2020/06/Copenhague-desde-el-aire-a-lo-largo-de-la-cuarentena-1500x400.jpg    https://apliqa.es/wp-content/uploads/2016/09/7.jpg -->

    <div class="widget-user-header  d-flex flex-column justify-content-center "  src="{% static 'img/photo1.png' %} "
          style="background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/Potosi_D%C3%A9cembre_2007_-_Panorama_4.jpg/1920px-Potosi_D%C3%A9cembre_2007_-_Panorama_4.jpg')center center; height:200px;text-align: center; ">
          <br>

          <div class="bg-light disabled color-palette"><span><h3 class="widget-user-username text-right  bg-light  color-palette "  style="justify-content: center;display: flex;align-items: center;">  <h2>  <b> {{ object.nombre }}  </b></h2>  </h3></span></div>
         
          <h5 class="widget-user-desc text-right"><p></p> <p></p></h5>
        

      <br>
    </div>




    
    <div class="widget-user-image">
        <br>
        <br>
        <br>
        <p></p>
      <img class="img-circle" src="{% static 'img/gober.png' %}" alt="User Avatar">
    </div>
    <div class="card-footer ">
      <div class="row">
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header">SIGLA</h5>
            <span class="description-text">{{ object.id }}</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header"> TIPO</h5>
            <span class="description-text">{{ object.tipo }}</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4">
          <div class="description-block">
            <h5 class="description-header">DIRECCION</h5>
            <span class="description-text">{{ object.detalle }}</span>
          </div>
          <!-- /.description-block -->
        </div>

  
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- /.widget-user -->
</div>




<section class="content" >

    <div class="" >
        
      <div class="row" >
          
        <!-- left column -->
        <div class="col-md-12" style="margin: 0 auto; ">
           
              <div class="  card-dark card-outline" style="background-color:#343a40 ">
            
              </div>
              <!-- /.card-header -->
              <!-- form start      ../../../static/lib/adminlte-3.1.0/img/photo1.png   #343a40 -->

                <br>





              <div class="row parter" style="margin: 0 auto; align-content: center; justify-content: center;" >
           

              
               
                    

              </div>

       


                 
            <div style="clear:both"></div>



            <form method="post">
                {% csrf_token %}

                {% if form.errors %}
                    {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                                {{ error|escape }}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            {{ error|escape }}
                        {% endfor %}
                    {% endif %}

                {% endif %}
        
                <div class="col-12 col-sm-12">
                    <div class="card card-primary card-tabs">
                      <div class="card-header p-0 pt-1" style="background-color:#343a40 ">
                        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">EQUIPO</a>
                          </li>
                
                    
                       
                        </ul>
                      </div>
                      <div class="card-body">
                        <div class="tab-content" id="custom-tabs-one-tabContent">
    
                          <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                            <div class="tab-custom-content">
                              <p class="lead mb-0">Crear Equipo para {{ object.id }} </p>
                            </div>
        
                            {{ form.as_p}}
                           
              
                          </div>
    
                    
                        </div>
    
                      </div>
                      <!-- /.card -->
                    </div>
                  </div>
    
          
                  <div class="col-12 col-sm-12">
                    <div class="card card-primary card-tabs">
                      <div class="card-header p-0 pt-1" style="background-color:#343a40 ">
                        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">IP</a>
                          </li>
    
                       
                        </ul>
                      </div>
                      <div class="card-body">
                        <div class="tab-content" id="custom-tabs-one-tabContent">
    
                          <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                            <div class="tab-custom-content">
                              <p class="lead mb-0">Agregar Equipo</p>
                              <br>

                            </div>
    
                            <div class="text_center">
    
    
                            {{ form2.as_p}}
                
    
                          </div>
                        </div>
                      </div>
                      <!-- /.card -->
                    </div>
                  </div>
    
                  </div>

                  <div class="col-12 col-sm-12">
                    <div class="card card-primary card-tabs">
                      <div class="card-header p-0 pt-1" style="background-color:#343a40 ">
                        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">IP</a>
                          </li>
    
                       
                        </ul>
                      </div>
                      <div class="card-body">
                        <div class="tab-content" id="custom-tabs-one-tabContent">
    
                          <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                            <div class="tab-custom-content">
                              <p class="lead mb-0">Agregar Direccion</p>
                              <br>

                            </div>
    
                            <div class="text_center">
    
    
                                <div class="form-group">
                                    <label for="{{ form3.direccion.id_for_label }}"
                                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form3.direccion.label}}</label>
                                    <br>
                                    <div class="col-sm-12">
                                            {{form3.direccion}}
                
                                    </div>
                                  </div>
                                
                                  <div class="form3-group">
                                    <label for="{{ form.equipo.id_for_label }}"
                                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form3.equipo.label}}</label>
                                          <br>
                                        
                                          <div class="col-sm-12">
                                            {{form3.equipo}}
                
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <label for="{{ form3.esta_vigente.id_for_label }}"
                                            class="col-xs-6 col-sm-6 col-md-6 control-label">{{form3.esta_vigente.label}}</label>
                                          <br>
                                        
                                          <div class="col-sm-12">
                                            {{form3.esta_vigente}}
                
                                    </div>
                                  </div>
                
    
                          </div>
                        </div>
                      </div>
                      <!-- /.card -->
                    </div>
                  </div>
    
                  </div>


                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary" style="background-color:#00588e "><b>Enviar</b> </button>
                  </div>

            </form>

    
      

  </div>
  </div>


</section>






{% endblock %}

